body {
  --color-1: #112230;
  --color-2: #67999c;
  --color-3: #afe4e9;
  --color-4: #d3f4fd;
  --color-5: #f8faff;
  --color-text: #09121d;
  --color-white: #fff;
  --color-border: #80b1b4;
  --color-highlight: rgba(63, 20, 159, 0.2);

  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;

  &.dark-mode {
    --color-1: #dbdbdb;
    --color-2: #262626;
    --color-3: #303030;
    --color-4: #292929;
    --color-5: #181818;
    --color-text: #fafdff;
    --color-border: #6a6a6a;
    --color-highlight: rgba(219, 27, 255, 0.25);
  }

  font-family: 'Roboto', sans-serif;
  overscroll-behavior-y: none;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
  --webkit-tap-highlight-color: transparent;
  --webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

/* Prevent focus rings from showing on tap for touch devices while keeping keyboard focus on desktop */
@media (hover: none) and (pointer: coarse) {
  *:focus,
  *:focus-visible {
    outline: none !important;
    --webkit-tap-highlight-color: transparent;
    --webkit-touch-callout: none;
  }
}

button {
  all: unset;
  cursor: pointer;
}

._button {
  width: 150px;
  height: 40px;
  padding: 6px 10px;
  background-color: var(--color-2);
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
}

._button:disabled {
  opacity: 0.4;
  cursor: auto;
}
